{% extends "main/header.html" %}

{% block content %}
    <div class="row">
        {% for tut in tutorials %}
        <div class="col s12 m6 l4 grey lighten-4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{tut.tutorialTitle}}</span>
                    <p>{{tut.tutorialContent|safe}}</p>
                    <p><br><br></p>
                    <p style="font-size:70%">{{tut.tutorialPublished}}</p>
                </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        {% endfor %}
  </div>
{% endblock %}